## List Comprehension

#### Syntax:[item loop condition]

In [1]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [2]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
[each for each in range(1,11) if each%2==0]

[2, 4, 6, 8, 10]

In [12]:
students=[['sai',70],['ram',30],['lakshmi',60]]

In [14]:
[i for i in students if i[1]>=60]

[['sai', 70], ['lakshmi', 60]]

In [15]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]

In [16]:
[student for student in students if (student[1]>=60 and student[2]<=1)]

[['sai', 70, 1]]

In [17]:
[i+j for i in range(3) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

#### x^2=y^2=z^2

In [19]:
[(x,y,z) for x in range(1,31) for y in range(1,31) for z in range(1,31) if((x**2)+(y**2)==(z**2))]

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (15, 8, 17),
 (15, 20, 25),
 (16, 12, 20),
 (18, 24, 30),
 (20, 15, 25),
 (20, 21, 29),
 (21, 20, 29),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30)]

## Dictonary Comprehension

In [21]:
{ each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [22]:
{each:each*each for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [24]:
{ each:each*each if each%2==0 else each**3 for each in range(1,11) }

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [ ]:
# students={'sai':'A','ramu':'B'}

In [32]:
names=['sai','ramu']
grades=['A','B']
students={}
for index in range(len(names)):
    name=names[index]
    grade=grades[index]
    students[name]=grade
print(students)

{'sai': 'A', 'ramu': 'B'}

In [33]:
names=['sai','ramu']
grades=['A','B']
for name,grade in zip(names,grades):
    print(name,grade)

sai A
ramu B

In [34]:
names=['sai','ramu']
grades=['A','B']
for item in zip(names,grades):
    print(item)

('sai', 'A')
('ramu', 'B')

In [35]:
names=['sai','ramu']
grades=['A','B']
{name:grade for name,grade in zip(names,grades)}

{'sai': 'A', 'ramu': 'B'}

#### Sort the students based on english marks?
 ['name',english,maths]

In [54]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]

In [57]:
removeIndex=1
for student in students:
    student.insert(0,student.pop(removeIndex))
students.sort()
for student in students:
    student.insert(removeIndex,student.pop(0))
print(students)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [60]:
fun=lambda x:'hi'

In [61]:
fun(10)

'hi'

In [62]:
square=lambda x:x*x

In [63]:
square(3)

9

In [71]:
students=[['sai',130,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[1]+x[2])
students

[['ram', 50, 60], ['lakshmi', 100, 30], ['sai', 130, 40]]

### map(function,collection)

In [73]:
numbers=['10','20','30']
s=map(int,numbers)
list(s)

[10, 20, 30]

In [12]:
marks=['10','20','30']
list(map(lambda x:int(x)+30,marks))

[40, 50, 60]

In [6]:
marks=[10,30,60,0,40]
all(marks)

False

In [5]:
any(marks)

True

### filter(function,collection)

In [7]:
marks=[10,30,60,0,40]
s=filter(None,marks)
list(s)

[10, 30, 60, 40]

In [9]:
students=[['sai',10],['sunny',30],['ramu',50]]
### result= [['sai',10],['sunny',30]]

In [11]:
list(filter(lambda x:x[1]<=30,students))

[['sai', 10], ['sunny', 30]]

In [15]:
students=[
    ['sai',{'maths':30,'english':50}],
    ['ram',{'maths':100,'english':100}],
    ['roja',{'maths':50,'english':40}]
]

In [18]:
students.sort(key=lambda x:x[1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['roja', {'maths': 50, 'english': 40}],
 ['ram', {'maths': 100, 'english': 100}]]