In [2]:
import  pandas as pd

In [3]:
animals=['tiger','lion','mouse']
s=pd.Series(animals)

In [4]:
s

0    tiger
1     lion
2    mouse
dtype: object

In [5]:
s.name="Animals"

In [6]:
s.name

'Animals'

In [7]:
s

0    tiger
1     lion
2    mouse
Name: Animals, dtype: object

In [8]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
number=[1,2,3]
pd.Series(number)

0    1
1    2
2    3
dtype: int64

In [10]:
animals=['tiger','lion',None]
pd.Series(animals)

0    tiger
1     lion
2     None
dtype: object

In [11]:
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [12]:
a=2
b=2
a==b

True

In [13]:
import numpy as np

In [14]:
np.nan==None

False

In [15]:
np.nan==np.nan

False

In [16]:
None==None

True

In [17]:
np.isnan(np.nan)

True

In [18]:
sports={'Archery':"Bhutan",'Golf':"Scotlad",'Sumo':"Japan",'Taekwondo':"South Korea"}
s=pd.Series(sports)
s

Archery           Bhutan
Golf             Scotlad
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [19]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [20]:
s=pd.Series(['Tiger','Bear',"Mouse"],index=["India","America","Canada"])
s

India      Tiger
America     Bear
Canada     Mouse
dtype: object

In [21]:
sports={'Archery':"Bhutan",'Golf':"Scotlad",'Sumo':"Japan",'Taekwondo':"South Korea"}
s=pd.Series(sports,index=["Golf",'Sumo',"Hockey"])
s

Golf      Scotlad
Sumo        Japan
Hockey        NaN
dtype: object

**Querying a series**

In [22]:
sports={'Archery':"Bhutan",'Golf':"Scotlad",'Sumo':"Japan",'Taekwondo':"South Korea"}
s=pd.Series(sports)
s

Archery           Bhutan
Golf             Scotlad
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [23]:
s.iloc[3]

'South Korea'

In [24]:
s[3]

'South Korea'

In [25]:
s[0]

'Bhutan'

In [26]:
s.iloc[0]# positions

'Bhutan'

In [27]:
s.loc['Golf']

'Scotlad'

In [28]:
s.keys()

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [29]:
s.loc['Sumo']

'Japan'

In [30]:
s['Sumo']

'Japan'

In [31]:
sports={99:'Butan',100:'Scotland',101:'Japan',102:'South Korea'}
s=pd.Series(sports)

In [32]:
s

99           Butan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [33]:
s.iloc[0]

'Butan'

In [34]:
s.iloc[2]

'Japan'

In [35]:
s.loc[99]

'Butan'

In [36]:
s.loc[102]

'South Korea'

In [37]:
s[99]

'Butan'

In [38]:
s.loc[99]

'Butan'

In [39]:
s=pd.Series([100.00,120.00,101.00,3.00])

In [40]:
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [41]:
for i in s:
    print(i)

100.0
120.0
101.0
3.0

In [42]:
c=0
for i in s:
    c=c+i
print(c)

324.0

In [43]:
import numpy as np
total=np.sum(s)
print(total)

324.0

In [44]:
a=np.random.randint(0,1000,20000)
a

array([535, 500, 713, ..., 191, 255, 200])

In [45]:
len(a)

20000

In [46]:
s=pd.Series(a)
s.head()

0    535
1    500
2    713
3    715
4    807
dtype: int32

In [47]:
%%timeit -n 10
summary=0
for i in s:
    summary+=i

2.96 ms ± 477 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [48]:
%%timeit -n 10
summary=np.sum(s)

189 µs ± 75.4 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [49]:
s.head()

0    535
1    500
2    713
3    715
4    807
dtype: int32

In [50]:
s.head()+2

0    537
1    502
2    715
3    717
4    809
dtype: int32

In [51]:
s+=2
s.head()

0    537
1    502
2    715
3    717
4    809
dtype: int32

In [52]:
s.iteritems()

In [53]:
for i,j in s.iteritems():
    s.set_value(i,j+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    539
1    504
2    717
3    719
4    811
dtype: int32

In [54]:
s.set_value(0,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    504
2    717
3    719
4    811
dtype: int32

In [55]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for i,j in s.iteritems():
    s.loc[i]=j+2

4.96 s ± 59 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [56]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

882 µs ± 338 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)