## Advanced Pandas

In [1]:
import pandas as pd

In [8]:
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR'},
                       {'Name':'Sally','Role':'Course Liasion'},
                       {'Name':'James','Role':'Grader'}])
staff_df=staff_df.set_index('Name')
student_df=pd.DataFrame([{'Name':'Usha','School':'Sleeper'},
                        {'Name':'Siri','School':'Reader'},
                        {'Name':'James','School':'Topper'}])
student_df=student_df.set_index('Name')
staff_df.head()

                 Role
Name
Kelly  Director of HR
Sally  Course Liasion
James          Grader

In [9]:
student_df.head()

        School
Name
Usha   Sleeper
Siri    Reader
James   Topper

In [10]:
pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

                 Role   School
Name
James          Grader   Topper
Kelly  Director of HR      NaN
Sally  Course Liasion      NaN
Siri              NaN   Reader
Usha              NaN  Sleeper

In [11]:
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

         Role  School
Name
James  Grader  Topper

In [12]:
pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

                 Role  School
Name
Kelly  Director of HR     NaN
Sally  Course Liasion     NaN
James          Grader  Topper

In [13]:
pd.merge(staff_df,student_df,how='right',left_index=True,right_index=True)

         Role   School
Name
Usha      NaN  Sleeper
Siri      NaN   Reader
James  Grader   Topper

In [14]:
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()
pd.merge(staff_df,student_df,how='left',left_on='Name',right_on='Name')

    Name            Role  School
0  Kelly  Director of HR     NaN
1  Sally  Course Liasion     NaN
2  James          Grader  Topper

In [17]:
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR','Address':'Tanuku'},
                       {'Name':'Sally','Role':'Course Liasion','Address':'Narsapur'},
                       {'Name':'James','Role':'Grader','Address':'Vijayawada'}])
staff_df=staff_df.set_index('Name')
student_df=pd.DataFrame([{'Name':'Usha','School':'Sleeper','Address':'Guntur'},
                        {'Name':'Siri','School':'Reader','Address':'Gudivada'},
                        {'Name':'James','School':'Topper','Address':'Gollagudem'}])
student_df=student_df.set_index('Name')
staff_df.head()

          Address            Role
Name
Kelly      Tanuku  Director of HR
Sally    Narsapur  Course Liasion
James  Vijayawada          Grader

pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)